* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'sans-serif';
    width: 100%;
    background-color: white;
    overflow: hidden;
    overflow: scroll; 
}

/* Partie de redirection vers différentes pages */
.nav_options {
    background-color: black;
    height: 100vh;
    padding-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    position: fixed;
}

.nav_options ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
}

.nav_options ul li {
    margin: 20px 0;
}

.nav_options ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.nav_options ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

/* Section de création */
.result {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin-left: 120px;  
}

.result-content {
    background-color: #fff;
    width: 60%;
    height: 100%;
    border: 6px solid #fff;
    padding: 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    font-size:x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.result-content h3 {
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.liste-produits {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: row;
}

input {
    margin: 0px 0px 15px 0px;
}

.ajout {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="submit"] {
    margin: 20px 0px 5px 0px;
    width: 30%;
    height: 40px;
}

select {
    margin: 0px 0px 2px 0px;
}

textarea {
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    outline: 0;
    padding: 5px;
    margin-bottom: 10px;
    resize: none;
}

.produit {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    
}

.image {
    height: calc(100vh - 100px); /* Ajuste la hauteur de l'image en fonction de la hauteur de l'écran */
    width: 80%; /* */ 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    border: 2px solid black;
    border-radius: 6px;
}

.produit .image-prod {
    height: 100%;
    width: auto;
}

.produit .image-prod img {
    height: 100%;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

/* Logo */
.logo {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.menu_avent {
    width: 60px;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {

    .nav_options ul {
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;    
    }
    
    .nav_options ul li {
        margin: 10px;
    }

    .result-content {
        width: 100%;
        padding: 10px;
    }

    .menu_avent {
        width: 40px;
    }
}

.input-text{
    background-color: rgb(239, 237, 237);
    border : solid 2px orange;
    border-radius: 10px;
    width : 150px;
    height: 40px;
    padding: 10px 10px 10px 10px;
}

.input-text-area{
    background-color: rgb(239, 237, 237);
    border : solid 2px orange;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

#imagetest{
    background-color: black;
}
.info{
    display: flex;
    flex-direction: column;
}
.photo{
    display: flex;
    flex-direction: column;
}