* {
    font-family: 'League Spartan', sans-serif;
}

body {
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Styles de la navigation */
.nav_options {
    background-color: black;
    width: 250px;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.nav_options ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
}

.nav_options ul li {
    margin: 20px 0;
}

.nav_options ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-size: 18px;
}

.nav_options ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}


.message {
    color: red;
    text-decoration: underline;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

/* Logo */
.floating-btn {
    position: fixed;
    top: 20px;
    right: 20px;
}

.floating-btn img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Formulaire de création */
.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 800px;
    margin-left: 280px;
    padding: 20px;
    box-sizing: border-box;
}

.container_content {
    display: flex;
    flex-direction: column;
}

.containers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_left, .container_right {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
}

.input-text, .input-text-area, .input-text select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-text-area {
    resize: none;
}

.image-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image_upload input {
    margin-bottom: 10px;
}

.preview_image {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.themes select, .sous-theme input {
    margin-bottom: 10px;
}

.ajout {
    text-align: right;
}

.btn-ajouter {
    background-color: #eead5d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-ajouter:hover {
    background-color: #F1A03C;
}
