* {
    font-family: 'League Spartan';
    font-weight: bold;
}

body {
    background-color: white;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

/* Partie de redirection vers différentes pages */
.nav_options {
    background-color: black;
    height: 100vh;
    padding-top: 20px;
    margin: 0;
    padding: 0;
    width : 10%;
    position: fixed;
}

.nav_options ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
}

.nav_options ul li {
    margin: 20px 0;
}

.nav_options ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.nav_options ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.container {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border: 6px solid #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    font-size:x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.message{
    color: red;
    text-decoration: underline;
}

.container h3 {
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.formulaire {
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

input {
    margin: 0px 0px 15px 0px;
}

.ajout {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="submit"] {
    margin: 20px 0px 5px 0px;
    width: 30%;
    height: 40px;
}

select {
    margin: 2px 0px 2px 0px;
    font-size: large;
}

textarea {
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    outline: 0;
    padding: 5px;
    margin-bottom: 10px;
    resize: none;
}

/* Logo */

.menu_avent {
    width: 60px;
}

/* Responsive Design */
@media (max-width: 768px) {

    .nav_options ul {
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;    
    }
    
    .nav_options ul li {
        margin: 10px;
    }

    .result-content {
        width: 100%;
        padding: 10px;
    }

    .menu_avent {
        width: 40px;
    }
}

.input-text{
    background-color: rgb(255, 234, 229);
    border : solid 2px orange;
    border-radius: 10px;
    width : 150px;
    height: 40px;
    padding: 5px 5px 5px 5px;
}

.input-text-area{
    background-color: rgb(255, 234, 229);
    border : solid 2px orange;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

.info{
    display: flex;
    flex-direction: column;
}

.info label {
    margin: 1%;
}
.photo{
    display: flex;
    flex-direction: column;
    margin-left: 11%;
}

input[type='radio']{
    margin: 10px;
}

input[type='text']{
    font-size: large;

}
input[type='date']{
    font-size: large;

}
input[type='number']{
    font-size: large;
}