.login-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: auto; /* Center the box horizontally */
    margin-right: auto; /* Center the box horizontally */
}

.login-box_content {
    background-color: #fff;
    width: 60%;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column; /* Align children vertically */
    overflow: auto;
}

/* Style for the scrollbar */
::-webkit-scrollbar {
    width: 8px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.login-box_content h1 {
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.liste-produits {
    display: flex;
    flex-direction: column; /* Align children vertically */
    align-items: center; /* Center children horizontally */
    width: 100%; /* Take full width of the parent */
    padding: 1px;
}

.box {
    width: 100%; /* Take full width of the parent */
    margin-bottom: 15px; /* Add some space between the boxes */
}


input, select {
    width: 100%; /* Make inputs and selects take full width */
    margin-bottom: 15px; /* Add some space after each input/select */
}

/* Style for the genre box to align items in a row */
.genre-box {
    display: flex;
    justify-content: start; /* Align items to the start of the box */
    align-items: center; /* Center items vertically */
    gap: 2px; /* Add some space between the radio buttons and labels */
}

/* Style for the labels in the genre box for better spacing and alignment */
.genre-box label {
    margin-right: 100px; /* Add some space after each label */
}

/* You may want to adjust the width of the inputs if they are too wide */
input[type="radio"] {
    margin-right: 5px; /* Add space between radio button and its label */
}

.connect {
    display: flex;
    justify-content: center; /* Center the submit button horizontally */
    width: 100%; /* Take full width of the parent */
}

input[type="submit"] {
    width: 50%; /* Adjust the width of the submit button as needed */
    height: 40px;
    margin-top: 20px; /* Add some space before the submit button */
}
