
/* CSS chatGPT ici*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-box {
    display: flex;
    width: 1200px;
    max-width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.left-panel_content {
    background-color: #f7b100;
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-message {
    text-align: center;
}

.avatar {
    background-color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    display : flex;
    position : relative;
    background-image : url("../views/images/AVent.png");
}

.right-panel_content {
    background-color: #fff;
    width: 60%;
    padding: 40px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.box {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="nom"],
input[type="prenom"],
input[type="date"],
input[type="email"],
input[type="password"],
input[type="pseudo"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.genre-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.genre-box input[type="radio"] {
    margin: 0;
}

.genre-box label {
    margin-right: 20px;
}

.connect {
    display: flex;
    justify-content: center;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #d79506;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #f6c206;
}

.clc {
    width : 100%;
    height : 100%;
    margin-left: 3%;
    margin-top: 3%;
}